@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap');

/* base styles */
/* target every element */
* {
  margin: 0.5rem 0.25rem;
  font-family: 'Work Sans', sans-serif;
  color: #333;
}

.masthead {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: bold;
  font-size: 1.9rem;
  white-space: nowrap;
}


.navbar {
  margin-top: 0.9rem;
  display: flex;
  align-items: center;  /* verticle center */
  border-bottom: 1px solid #f2f2f2;
}

/* navbar menu title header */
.navbar h2 {
  color: #1377c9;
}

/* pushed to the right because the .navbar parent is displayed as flex */
.navbar .links {
  margin-left: auto;  
}

/* navbar links */
.navbar a {
  margin-left: 0.5rem; 
  text-decoration: none;
  padding: 3px;
}

/* navbar link hover */
.navbar a:hover {
  color: #1377c9;
}

/* page content */
.content {
  margin-top: 0.9rem ;

}

/* home page button */
.button {
  background-color: #1377c9;
  border: none;
  border-radius: 7px;
  color: white;
  padding: 5px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #164872;
}